* {
    margin: 0;
    padding: 0;
    border: none;
    overflow: hide;
}

body {
    background-color: #8e8d8a;
    margin:auto;
}

header {
    height: 100rem;
    background-image: url(../images/city1.jpg);
    max-height: 100rem;
}


h1 {
    color:#e85a4f;
    
    
}

/* Locations */

#locations {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
   
}

#locations img {
    max-width: 100vw;
    border-radius: 2%;
}

.box {
    background-color: #eae7dc;
    padding: 1rem;
    justify-content: center;
}

/* Form */

/* For media screen 500px and up */

@media screen and (min-width: 500px) {
    #locations img {
        max-width: 45vw;
    }

    body {
        margin:auto;
    }
}

/* For media screen 950px and up */

@media screen and (min-width: 950px) {
    #locations img {
        max-width: 30vw;
    }
}