@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Koulen&family=Oswald&family=Quattrocento&family=Rock+Salt&family=Tapestry&display=swap');

/* For media screen 499px and under this is the default */

/* Main */

* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 62, 5%;
}

a {
    text-decoration: none;
    color: #f6f7eb;
}

a:hover {
    color: #d8c3a5;
}

body {
    background-color: #f6f7eb;
    font-size: 1.6rem;
    font-family: 'Quattrocento Sans', sans-serif;

}

h1 {
    color: #172a3a;
    font-family: 'Rock Salt', sans-serif;
    font-size: 10vw;
}

h2 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Koulen', sans-serif;
    padding-top: 3rem;
}

.section {
    padding: 5rem 1rem;
}

/* Header and hero-image*/

header {
    height: auto;
    width: 100%;
    background: url(../images/flowerpot1.jpg) no-repeat center;
    background-size: cover;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

#headerbox {
    background-color: rgba(246, 247, 235, 0.4);
    border-radius: 4px;
    position: absolute;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;

}

#headerbox h2 {
    font-size: 5vw;
    font-family: 'Berkshire Swash', sans-serif;
    color: #b9314F
}

/* Navigation bar*/

#navbar {
    background-color: #172a3a;
    width: 100%;
    height: auto;
    font-family: 'Koulen', sans-serif;
    position: fixed;
}

#navbar li {
    list-style: none;
    padding: 0 0.5rem;
}

#navbar ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

}

/* To make the navbar stick to the top */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}


/* WELCOME*/

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* BULLETPOINT */

.fancybox {
    font-family: 'Koulen', sans-serif;
    padding: 5rem 2rem 5rem 2rem;
    border-style: solid;
    border-color: #b9314f;
    margin: 5rem 1rem 1rem 1rem;
    background-color: #eae7dc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fancybox ul {
    list-style: none;
}

.fancybox li {
    flex-direction: column;
    align-items: center;
}

.fancybox h3 {
    font-family: 'Rock Salt', sans-serif;
    font-size: 3rem;
    color: #b9314F;
}


/* LOCATIONS */

#locations-section {
    padding-top: 5rem;
}

#locations-section p {
        text-align: center;
        max-width: fit-content;
        padding: 1rem;
}

#locations-section>h3 {
    text-align: center;
    padding: 1rem;
    background-color: #718f94;
    color: #eae7dc;
}

#locations {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #718f94;

}

#locations img {
    max-width: 100%;
    height: auto;
    border-radius: 2%;
}

.box {
    background-color: #f6f7eb;
    padding: 1rem;
    justify-content: center;
    margin: 1rem;
    border-radius: 1%;
}

.box a {
    color: #e85a4f;
}

/* FOOTER */

footer {
    padding: 2rem;
    border: 1px solid #d8c3a5;
    background-color: #8e8d8a;
}

footer p {
    display: flex;
    justify-content: center;
}

#footerbox {
    display: flex;
    justify-content: center;
}

#footerbox>a {
    font-size: 3rem;
}

/* FORM */

#form1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

textarea {
    resize: none;

}

.formbox {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;

}

.formbox input {
    padding: 1rem;
    margin: 2rem;
}

.formboxcolumn {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: flex-end;

}

.important {
    color: #b9314f;
}

.button {
    background-color: #e98074;
    padding: 0.5rem;
    border-style: outset;
    border-radius: 2px;
    margin: 3rem;
    font-family: 'Koulen', sans-serif;
    font-size: 3rem;
}

.button:hover {
    background-color: #e85a4f;
}

.smallprint {
    font-family: 'Noto Serif', sans-serif;
    font-size: small;
}

/* HELP*/

#faq {
    margin: 50rem 0;
}

#faq h2 {
    margin: 3rem 0;
}

.faq {
    padding: 1rem;
    border: 1px solid #8e8d8a;
    margin: 0.5rem;
    background-color: #f6f7eb;
}

.question {
    font-style: italic;
    color: #b9314f;
}

#customercare>div {
    display: flex;
    flex-direction: row;

}

/* For media screen 499px and under using default */


/* For media screen 500px and up */

@media screen and (min-width: 500px) {

    #locations img {
        max-width: 45vw;
    }

    #faq {
        margin: 5rem;
    }
}

/* For media screen 950px and up */

@media screen and (min-width: 950px) {

    .section {
        padding: 5rem 5rem;
    }

    #headerbox {

        margin-top: 2rem;
        justify-content: center;
    }

    #locations img {
        max-width: 30vw;
    }

    
#locations-section>p {
    padding: 1rem 5rem;}

#locations-section p {
        padding: 1rem 5rem;
}
}