@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Noto+Serif&display=swap');

/* Main page*/

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #8e8d8a;
}

 h2 {
     font-size: 5vh;
     text-align: center;
     font-family: 'Noto Serif', sans-serif;
 }

 p {
     font-size: 21px;
 }


/* Header and hero-image*/

header {
    height: 50vh;
    width: 100%;
    background: url(../images/castlephone3.jpg) no-repeat center center;
    display: flex;
    justify-items: flex-end;
}

#headerbox {


}

header h1 {
    color:#e85a4f;
    font-family: Koulen, sans-serif;
    font-size: 20vh;
    
}

/* Navigation bar*/

    .navbar {
        background-color: #e98074;
        width: 100%;
        font-size: 5vh;
        font-family: 'Koulen', sans-serif;

    }

    .navbar li {
        list-style: none;
    } 

    .navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }

    .navbar a {
        text-decoration: none;
        color: black;
        padding: 20px; 

    }

    .navbar a:hover {
        color: #8e8d8a;
    }

    .active > a {
        color:#e85a4f;
        border-style: dotted;
    }


/* WELCOME*/

#welcome {
    font-family: 'Noto Serif', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px;
    }

#welcome h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    }


    /* Bulletpoint */

#bulletpoint {
    font-size: xx-large;
    padding: 50px 50px;
    border-style: dotted;
    border-color: #d8c3a5;
    border-radius: 2%;
    margin: 50px;
    background-color: #eae7dc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bulletpoint ul {
        list-style: none;
    }
    
#bulletpoint li {
        flex-direction: column;
        align-items: center;
    }
    

#bulletpoint h3 {
    font-family: 'Koulen';
    font-size: 40px;
}


    /* LOCATIONS */

#locations-box {
    background-color: #d8c3a5;
}

#locations-box h2 {
    padding: 1vh;
} 
#locations-box p {
    text-align:center;
    max-width:fit-content;

}

#locations {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
   
}

#locations img {
    max-width: 100vw;
    border-radius: 2%;
}

.box {
    background-color: #eae7dc;
    padding: 1rem;
    justify-content: center;
    border-style: groove;
}

/* Form */

/* For media screen 499px and under */



/* For media screen 500px and up */

@media screen and (min-width: 500px) {
    
    #locations img {
        max-width: 45vw;
    }
}

/* For media screen 950px and up */

@media screen and (min-width: 950px) {
    

    header {
        background: url(../images/castlephone2.jpg) no-repeat center center;
        }
    #headerbox {
      
        margin-top: 20vh;
        justify-content: center;
    }

    #locations img {
        max-width: 30vw;
    }
}